html {
    position: relative;
    min-height: 100%;
}

body {
    background: #f1f1f1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 70px;
    padding-bottom: 40px;
    padding-top: 50px;
}

h1, h2, h3 {
    font-weight: 300;
    margin: 30px 0 20px 0;
}

a {
    color: #222;
}

.container {
    max-width: 1012px;
}

.navbar {
    border: none;
    text-transform: uppercase;
}

.navbar ul li.active a {
    background: #b03126 !important;
}

.navbar ul li a {
    color: #fff;
    margin: 10px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.navbar .navbar-brand {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar .navbar-text {
    margin-right: 10px;
}

.navbar .navbar-toggle {
    color: #9d9d9d;
    padding: 6px 10px;
    text-transform: uppercase;
}

.breadcrumb {
    margin: 0;
    background: none;
}

.alert {
    border-radius: 0;
    border-left: 0;
    right: 0;
}

.spoiler {
    overflow: hidden;
    position: relative;
    padding: 150px 0 150px 0;
    text-align: center;
}

.spoiler .bg {
    position: absolute;
    top: -40px;
    left: -40px;
    bottom: -40px;
    right: -40px;
    background: no-repeat 50% 50%;
    background-size: cover;
    z-index: -2;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='5');
}

.spoiler .btn {
    border-radius: 0;
}

.spoiler .btn.btn-default {
    color: #fff;
    margin: 10px 0;
    background: none;
    border: 1px solid #fff;
}

.spoiler .btn.btn-default:hover {
    background: rgba(255, 255, 255, 0.1);
}

.spoiler .btn.btn-default:active {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.spoiler ul {
    list-style: none;
    margin: 0 0 100px 0;
    padding: 0;
}

.spoiler ul li {
    text-transform: uppercase;
    display: inline-block;
}

.spoiler ul li a {
    opacity: 0.7;
    color: #fff;
}

.spoiler ul li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}

.spoiler:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.spoiler h1 {
    margin: 0;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.spoiler h1 span {
    padding: 20px 0;
    display: block;
    font-size: 50px;
    font-weight: bold;
    color: #b03126;
}

.home {
    padding: 50px 0 0;
    background: #fff;
}

.home .table {
    border: none !important;
}

.home .table tr:first-child td {
    border: none;
}

.home .table tr td:first-child {
    padding-left: 0;
    white-space: nowrap;
    color: #999;
}

.home .description {
    padding: 20px 0;
    line-height: 1.8;
}

.home .rating.kp .stars {
    margin-right: 40px;
}

.home .rating .logo {
    margin: 20px 20px 0 0;
}

.home .rating .value {
    font-size: 22px;
}

.home .rating .stars {
    display: inline-block;
    background: url("../img/stars.png") no-repeat 0 50%;
    width: 110px;
    height: 18px;
}

.home .rating .stars .fill {
    background: url("../img/stars_filled.png") no-repeat 0 50%;
    width: 0;
    height: 18px;
}

.latest {
    position: relative;
}

.latest:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 6px;
    /*background: url("../img/footer-shadow.png") no-repeat 50% 0;*/
}

.latest .dropdown {
    margin: 37px 0 0 0;
}

.video-container {
    color: #999;
    padding: 20px 0 0 0;
    background: #3c3c3c;
}

.video-container #player {
    background: #000000 !important;
}

.video-container #blocked-warning {
    display: none;
    position: absolute;
    width: 100%;
    top: 50%;
    margin: -75px 0 0 0;
    padding: 30px 20px;
    background: rgba(0, 0, 0, 0.7);
}

.video-container #blocked-warning h4 {
    color: #eee;
}

.video-container a {
    color: #ccc;
}

.video-container .embed-responsive {
    position: relative;
    background: #000000;
    margin: 0 0 10px 0;
}

.video-container .embed-responsive .bg {
    position: absolute;
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.video-container .embed-responsive .bg .announce {
    margin: 20px;
    color: #000;
    font-weight: 200;
    font-size: 16px;
}

.video-container .embed-responsive .bg .announce .date {
    font-size: 30px;
}

.video-container .embed-responsive .bg .announce a {
    color: #000;
}

.video-container .serial-title {
    font-size: 24px;
    margin: 5px 0;
    color: #fff;
    font-weight: 300;
}

.video-container .serial-title strong {
    font-weight: 300;
}

.video-container .episode-title {
    font-size: 18px;
    font-weight: 200;
    color: #999;
}

.video-container .episode-description {
    font-weight: 200;
    margin: 0 0 20px 0;
}

.video-container .links .btn {
    display: block;
    margin: 0 0 10px 0;
    background: #2d2d2d;
    color: #777;
    border-radius: 0;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.video-container .links .btn:hover {
    background: #222;
}

.breadcrumbs-container {
    color: #999;
    border-bottom: 1px solid #fff;
    background: #dedede;
}

.episode .thumbnail {
    border: 3px solid #fff;
    border-radius: 0;
    padding: 0;
    position: relative;
    min-height: 116px;
}

.episode .thumbnail:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(top bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.episode .thumbnail .content {
    padding: 5px 10px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.episode .thumbnail .content .title {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.episode .thumbnail .content .subtitle {
    font-size: 12px;
    font-weight: 200;
    color: #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.episode .thumbnail .duration {
    position: absolute;
    padding: 2px 5px;
    top: 5px;
    right: 5px;
    font-size: 10px;
    font-weight: 200;
    color: #ccc;
    background: rgba(0, 0, 0, 0.6);
}

.episode .thumbnail .play-button {
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.5);
    margin: -20px 0 0 -20px;
}

.episode .thumbnail .play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 15px;
    margin: 0 auto;
    border-style: solid;
    border-width: 8px 0 8px 14px;
    border-color: transparent transparent transparent #ffffff;
}

.episode:hover .play-button {
    visibility: visible;
    opacity: 1;
}

.episode.active .thumbnail {
    border-color: #66AA33;
}

.serial .thumbnail {
    border: 3px solid #fff;
    border-radius: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .episode .thumbnail .duration {
        font-size: 12px;
        padding: 2px 5px;
    }

    .episode .thumbnail .play-button {
        width: 60px;
        height: 60px;
        margin: -30px 0 0 -30px;
    }

    .episode .thumbnail .play-button:after {
        top: 19px;
        left: 23px;
        border-width: 10px 0 10px 18px;
    }
}

.comments {
    background: #fff;
    padding: 0 0 30px 0;
    border-top: 1px solid #ccc;
}

.comments .dislike-button {
    margin-top: 20px;
    border-radius: 0;
}

.comments #vk_comments {
    border-top: 1px solid #e1e4eb;
    overflow: hidden;
}

.comments #vk_comments iframe {
    margin: -40px 0 0 0 !important;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #dedede;
    padding: 10px 0;
}

#footer:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 6px;
    /*background: url("../img/footer-shadow.png") no-repeat 50% 0;*/
}

#footer a {
    color: #999;
    text-decoration: none;
}

#footer a:hover {
    color: #000;
}

#footer > div {
    text-align: center;
}

#footer > div ul {
    margin: 0;
    display: inline;
    list-style: none;
}

#footer > div ul li {
    display: inline;
    margin: 0 20px 0 0;
}

#footer > div ul li.active a {
    color: #000;
}

#error-page a {
    text-decoration: underline;
}

#error-page header {
    padding: 150px 0;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: url("../img/404.gif") no-repeat 50% 50%;
    background-size: cover;
}

#error-page header h1 {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 80px;
    line-height: 1.1;
}

#error-page header hr {
    max-width: 100px;
    margin: 15px auto;
    border-top: 4px solid white;
}

#error-page #main {
    padding: 40px 0;
}
.image {
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown-menu {
    background-color: #080808;
}